.app{
    margin: 0!important;
    background-image: url(/assets/img/background.jpg);
    background-repeat: no-repeat;
    background-position-x: -60px;
    height: -webkit-fill-available;
}

.main{
    width: 300px;
    margin: 50px auto;
}

.side-bar{
    width: 200px;
    height: 500px;
    float: left;
}